@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  cursor: default;
}

@layer utilities {
  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-ticker {
    animation: ticker 10s linear infinite;
    /* Make sure this is wide enough to contain two copies of the content */
    min-width: 200%;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }

  .animate-blink {
    animation: blink 1s ease-in-out infinite;
  }
}

.hero-gradient {
  background: linear-gradient(to right, #4f46e5, #0891b2);
}
.tech-card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.team-card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}
